<!DOCTYPE html>
<html>
<body>

<h1>Music <br> Top 10 played Songs </h1>

<svg width="2800" height="600">
   <!-- {% set prev=500 %} -->
  {% set x1=0 %}
  {% set z=1 %}
   {% for x in arr %}
   
   <rect height={{x[0]/80}} width="30" x={{x1}} y={{500-x[0]/80}}  stroke="green" stroke-width="4" fill="yellow" />
   <text x={{x1}} y={{500-x[0]/80}} font-family="Verdana" font-size="24" fill="blue" > {{x[1]}} </text>
   <text x={{x1}} y={{500}} font-family="Verdana" font-size="24" fill="black" > {{x[0]}} </text>
   {% set x1=x1+82 %}
   {% set z=z+1 %}
   {% endfor %}

  
   Sorry, your browser does not support inline SVG.
</svg>


</body>
</html>
