<!DOCTYPE html>
<html>
<body>

<h1>No. of Users with different age groups  </h1>

<svg width="800" height="600">
   <!-- {% set prev=500 %} -->
  {% set x1=0 %}
  {% set z=0 %}
   {% for x in arr %}
   
   <rect height={{x[0]/180}} width="60" x={{x1}} y={{500-x[0]/180}}  stroke="green" stroke-width="4" fill="yellow" />
   <text x={{x1-2}} y={{500-x[0]/180}} font-family="Verdana" font-size="24" fill="blue" > {{x[0]}} </text>
   <text x={{x1-10}} y={{520}} font-family="Verdana" font-size="24" fill="black" > {{z*10}}  -- </text>
   {% set x1=x1+60 %}
   {% set z=z+1 %}
   {% endfor %}

  
   Sorry, your browser does not support inline SVG.
</svg>


</body>
</html>
